Enterprise/Enterprise.WCF.Workflows/Connected Services/UserRegistrationServiceContract/Enterprise.DataLayers.EnterpriseDB_UserModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TblUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="UserDetail" nillable="true" type="tns:TblUserDetails" />
      <xs:element minOccurs="0" name="UserDetailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLoginId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblUserLogin" nillable="true" type="tns:TblUserLogin" />
  <xs:complexType name="TblUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressSecondary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressThird" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSecondary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneMain" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneSecondary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TblPickUpLocation" nillable="true" type="tns:ArrayOfTblPickUpLocation" />
      <xs:element minOccurs="0" name="TblProfileImage" nillable="true" type="tns:ArrayOfTblProfileImage" />
      <xs:element minOccurs="0" name="TblUserCard" nillable="true" type="tns:ArrayOfTblUserCard" />
      <xs:element minOccurs="0" name="TblUserLogin" nillable="true" type="tns:ArrayOfTblUserLogin" />
      <xs:element minOccurs="0" name="UserDetailsId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblUserDetails" nillable="true" type="tns:TblUserDetails" />
  <xs:complexType name="ArrayOfTblPickUpLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblPickUpLocation" nillable="true" type="tns:TblPickUpLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblPickUpLocation" nillable="true" type="tns:ArrayOfTblPickUpLocation" />
  <xs:complexType name="TblPickUpLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="PickUpLocation1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUpLocation2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUpLocation3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUpLocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDetail" nillable="true" type="tns:TblUserDetails" />
      <xs:element minOccurs="0" name="UserDetailId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblPickUpLocation" nillable="true" type="tns:TblPickUpLocation" />
  <xs:complexType name="ArrayOfTblProfileImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblProfileImage" nillable="true" type="tns:TblProfileImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblProfileImage" nillable="true" type="tns:ArrayOfTblProfileImage" />
  <xs:complexType name="TblProfileImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfileImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDetail" nillable="true" type="tns:TblUserDetails" />
      <xs:element minOccurs="0" name="UserDetailId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblProfileImage" nillable="true" type="tns:TblProfileImage" />
  <xs:complexType name="ArrayOfTblUserCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblUserCard" nillable="true" type="tns:TblUserCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblUserCard" nillable="true" type="tns:ArrayOfTblUserCard" />
  <xs:complexType name="TblUserCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" type="xs:int" />
      <xs:element minOccurs="0" name="CardOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDetails" nillable="true" type="tns:TblUserDetails" />
      <xs:element minOccurs="0" name="UserDetailsId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblUserCard" nillable="true" type="tns:TblUserCard" />
  <xs:complexType name="ArrayOfTblUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblUserLogin" nillable="true" type="tns:TblUserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblUserLogin" nillable="true" type="tns:ArrayOfTblUserLogin" />
</xs:schema>