Enterprise/Enterprise.WCF.Workflows/Connected Services/UserRegistrationServiceContract/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" />
  <xs:element name="IsUserLoginExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sameRecord" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="userLoginRepository" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserLoginExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserLoginExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" minOccurs="0" name="userLogin" nillable="true" type="q2:TblUserLogin" />
        <xs:element minOccurs="0" name="userLoginRepository" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSameRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSameRecordResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" minOccurs="0" name="userLogin" nillable="true" type="q4:TblUserLogin" />
        <xs:element minOccurs="0" name="userLoginRepository" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="userLoginRepository" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Enterprise.DataLayers.EnterpriseDB_UserModel" minOccurs="0" name="CreateUserLoginResult" nillable="true" type="q5:TblUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>